@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(180deg, #ffffff, #38a3e16c);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    background: #FFFFFF;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    display: block;
    padding: .5rem;
    border-radius: 4px;
}

a:hover{
    background: rgba(0, 0, 0, 0.474);
    border: 1px solid #38a4e1;
    color: #ffffff;
}

#logo img{
    width: 50px;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#btn-mobile{
    display: none;
}

/*====== conteudo ======*/

.capa{
    width: 100%;
    height: 180px;
    margin-top: 70px;
    background: black;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*====== conteudo ======*/

@media(max-width: 600px){
    
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #FFFFFF;
        height: 0;
        transition: .6s;
        z-index: 10;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.186);
        border-radius: 1px;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger{
        width: 20px;
        border-top: 2px solid;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;

    }
}