@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(180deg, #ffffff, #38a3e16c);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    background: #FFFFFF;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    display: block;
    padding: .5rem;
    border-radius: 4px;
}

a:hover{
    background: rgba(0, 0, 0, 0.474);
    border: 1px solid #38a4e1;
    color: #ffffff;
}

#logo img{
    width: 50px;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#btn-mobile{
    display: none;
}

/*====== conteudo ======*/

.capa{
    width: 100%;
    height: 180px;
    margin-top: 70px;
    background: black;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*=======================*/
.storegeArea{
    margin-top: 20px;
    padding: 10px;
}

  .sestorage{
    display: grid;
    grid-template-columns: minmax(250px, 350px)1fr;
  }

  .sestorage h3{
    font-weight: 700;
    font-size: 36px;
  }

  .sestorage p{
    font-weight: 500;
    font-size: 24px;
  }

  #sCapa{
    background-image: url(img/storegeCapa.svg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  #sTexto{
    background: #ffffff;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  span{
    color: #38a4e1;
  }

  .flex{
    /*background: red;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
  }

  .flex h2{
    font-weight: 700;
    font-size: 32px;
  }

  .flex p{
    font-weight: 400;
  font-size: 18px;
  }

  .flex > div{
    flex: 1 0 300px;
    margin: 15px;
    background: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .flex > div:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  /*========================*/

  .contrate{
    background: #ffffff;
    margin: 10px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  .contateDois{
    display: grid;
    grid-template-columns: minmax(250px, 350px)1fr;
  }

  .contateDois h2{
    margin-top: 5%;
    font-weight: 700;
    font-size: 36px;
  }

  .contateDois p{
    font-weight: 600;
    font-size: 24px;
    text-align: left;
  }

  #cont{
    padding: 10px; 
  }

  #cont img{
    width: 100%;
  }

  #contDois{
    padding: 10px;
    align-items: center;
  }

  #faleC{
    width: 300px;
    margin: auto;
    height: 44px;
    background: #4889B9;
    border: 1px solid #38a4e1;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
  }

  #faleG{
    width: 200px;
    margin: auto;
    height: 30px;
    background: #4889B9;
    border: 1px solid #38a4e1;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }
  /*============================*/

  .contato{
    display: none;
    background: rgba(0, 0, 0, 0.185);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
  }

  .contatoDois{
    position: absolute;
	  bottom: 0;
    width: 100%;
    /*background: blue;*/
    padding: 5px;
  }

  .contatoTres h2{
    margin-top: -15px;
    color: #374957;
    margin-bottom: 5px;
  }

  .contatoTres{
    color: #374957;
  }

  #logoM{
    width: 50px;
    border: 1px solid #37495700;
    box-shadow: none;
    background: #ffffff00;
  }

  .contatoTres img{
    width: 30px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #3749572d;
    box-shadow: 4px 4px 2px #37495741;
    background: #ffffff87;
  }

  .contatoTres ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }

  .contatoTres{
    /*background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/
    background: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    max-width: 500px;
    margin: auto;
    border: 2px solid #ffffff8d;
  }

  /*========================*/

  footer{
    margin-top: 5%;
    background: #000000;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  footer a{
    color: #ffffff;
    margin-left: 20px;
  }

  footer img{
    width: 150px;
  }

  footer ul{
    display: flex;
  }

/*====== conteudo ======*/

@media(max-width: 600px){
    
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #FFFFFF;
        height: 0;
        transition: .6s;
        z-index: 10;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.186);
        border-radius: 1px;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger{
        width: 20px;
        border-top: 2px solid;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;

    }

    .sestorage{
        display: grid;
        grid-template-columns: minmax(50px, 120px)1fr;
      }

    .sestorage h3{
        font-weight: 700;
        font-size: 20px;
      }

    .sestorage p{
        font-weight: 500;
        font-size: 12px;
      }

      .flex h2{
        font-weight: 700;
        font-size: 20px;
      }
    
      .flex p{
        font-weight: 400;
        font-size: 15px;
      }

      .flex img{
        width: 100px;
      }
    
      .flex > div{
        flex: 1 0 200px;
        margin: 15px;
        background: #ffffff;
        text-align: center;
        padding: 20px;
        border-radius: 4px;
      }

      .contrate{
        background: #ffffff;
        margin: 20px;
        border-radius: 4px;
      }

      .contateDois{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: none;
      }

      .contateDois h2{
        margin-top: 5%;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
      }
    
      .contateDois p{
        font-weight: 400;
        font-size: 15px;
      }

      #faleC{
        width: 100%;
      }

      .contatoTres{
       /* background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);*/
        background: #ffffff;
        border: 2px solid #ffffff8d;
        padding: 10px;
        text-align: center;
        border-radius: 4px;
        width: auto;
        margin: 20px;
      }

      footer{
        margin-top: 5%;
        background: #000000;
        display: flex;
        align-items: center;
        padding: 10px;
      }
    
      footer a{
        color: #ffffff;
        margin-left: 20px;
      }
    
      footer img{
        width: 150px;
      }
    
      footer ul{
        display: block;
      }
}