body{
    margin: 0;
    padding: 0;
}

.tTitulo{
    text-align: center;
}

.arquivos{
    display: flex;
}

.arquivos img{
    width: 40px;
}

.arquivos > div{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    padding: 5px;
    
}